

.tableArea1 {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    width: 900px;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
/* Read.css */
.tableArea {
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    font-size: 18px;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .tableTitles {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
  }
  
  .tableEntries {
    border-bottom: 1px solid #dddddd;
  }
  
  .tableEntries td {
    padding: 12px 15px;
  }
  
  .tableEntries:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .tableEntries:last-of-type {
    border-bottom: 2px solid #009879;
  }
  